<div class="container">
  <div class="row">
    <div class="col-sm-8 ml-md-auto">
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

    <h3>Editing Book</h3>
    <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <h5>Title</h5>
    <%= f.text_field :title %>

	  <div class="from-group">
      <h5>Opinion</h5>
      <%= f.text_area :body %>
    </div>
    <div class="from-group">
    <%= f.submit 'Update Book', class: "btn btn-sm btn-success" %>
    </div>

    <span>
      <%= link_to "Show", book_path(@book.id) %>
    </span>

    <span>
      <%= link_to "Back", books_path %>
    </span>

    <% end %>
    </div>
  </div>
</div>

