<p>Welcome! You have signed up successfully.</p>

<%= render 'users/list', users: @users %>


<h2>Books</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <record>
    <% @books.each do |book| %>
      <tr>
        <th><%= book.title %></th>
        <th><%= book.body %></th>
        <th><%= link_to "Show", book_path(book.id) %></th>
        <th><%= link_to "Edit", edit_book_path(book.id) %></th>
        <th><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?"%></th>
      </tr>
    <% end %>
  </record>

</table>  
<!-- form_with部分 -->
