<%= render 'users/list', user: @user,book: @newbook %>

<h2>Book detail</h2>

  <span>
    <tr>
      <th><%= image_tag @user.get_profile_image, size: "100x100" %></th>
      <th><%= link_to @user.name, users_path %></th>
      <th><%= link_to @book.title, books_path(@book.id) %></th>
    </tr>
  </span>

  <p><%=@book.body %></p>

  <tr>
    <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
    <th><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?"%></th>

  </tr>

