<!DOCTYPE html>
<meta charset="UTF-8" />
<script src="https://kit.fontawesome.com/f9c8ebb418.js" crossorigin="anonymous"></script>

<html>
  <head>
        <div class="container">
      <title>Bookers2</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>
  </head>

  <body>
    <header>
      <div class="container" style="background-color: #444444;">
        <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <nav>
        <ul class="nav-list">
          <tr>
            <i class="fa-solid fa-house"></i>
            <th><%= link_to "Home", root_path %></th>

            <% if user_signed_in? %>
              <th><%= link_to "Users", users_path %></th>
              <th><%= link_to "Books", books_path %></th>
              <th><%= link_to "Log out", destroy_user_session_path, method: :delete %></th>
            <% else %>
              <i class="fa-solid fa-link"></i>
              <th><%= link_to "About", about_path %></th>
              <i class="fa-solid fa-user-plus"></i>
              <th><%= link_to "Sign up", new_user_registration_path %></th>
              <i class="fa-solid fa-right-to-bracket"></i>
              <th><%= link_to "Log in", new_user_session_path %></th>
            <% end %>
          </tr>
        </ul>
      </nav>
    </header>
  <main>
    
      <%= yield %>
      
  </main>

  </body>

    <footer>
      <div class="container mt-5">
  	    <div class="row">
    	    <div class="mx-auto">
    		    <p>CopyRight Infratop.inc</p>
    	    </div>
        </div>
      </div>
    </footer>


</html>
